.cloud-zoom-gallery-thumbs {
	img {
		@include single-box-shadow($lightgray, 0, 0, .25em, 0, false);
		padding: .5em;
	}
}

// Out of stock notice
h2.out-of-stock-label {
	background-color: $blue;
	color: $white;
	padding: .5em 1.5em;
	text-align: center;
}

// Out of stock styling - hide elements
.node.out-of-stock {
	&:before {
		background-color: $blue;
		color: $white;
		content: 'Sold';
		display: block;
		font-family: $heading-f;
		font-size: 2.25em;
		margin-bottom: .25em;
		padding: .5em 1.5em;
		text-align: center;
	}
	.commerce-add-to-cart {
		display: none;
	}
}

// Add to cart button
.field-name-field-product {
	.node-product & {
		margin-top: 15px;
	}
}

.group-left {
	.node-product & {
		padding-right: 15px;
	}
}

// Special order link
a.button--alt-order {
	@include button-green;
	display: inline-block;
	margin-top: 25px;
}