// Foundation 5 grid mixin
// .custom-grid-class {
//   @include grid-column(
//     // Control the number of columns
//     $columns:4,
//     // Specify whethere or not this is the last column in the row
//     $last-column:true,
//     // Choose whether or not to center this column
//     $center:true,
//     // Choose the number of columns to offset this element by
//     $offset:3,
//     // Specify how many columns to push this element past
//     $push:3,
//     // Specify how many columns to pull this element past
//     $pull:9,
//     // Set to true to remove column padding
//     $collapse:true,
//     // Specify the float direction
//     $float:right
//   );
// }

#main {
  @include respond-to($medium) {
    // Display below fixed top bar
    // position: relative;
    // margin-top: $top-bar-height;
  }
}

.region-content-inner {
  @include grid-row;
}
#content {
  @include grid-column($full-width);
  @include respond-to($small) {
    .no-sidebars & {
      float: none;
    }
    .sidebar-first & {
      @include grid-column(
        $columns: $content-width-first-sidebar,
        $push: $sidebar-1-width-1-sidebar
      );
    }
    .sidebar-second & {
      @include grid-column($content-width-second-sidebar);
    }
    .two-sidebars & {
      @include grid-column(
        $columns: $content-width-2-sidebars,
        $push: $sidebar-1-width-2-sidebars
      );
    }
  }
}