//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;

// Imports
@import "base"; // To provide any needed variables
@import "fontello"; // Fontello icons


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

@mixin button {
  background-color: $button-c; // Old browsers
  @include filter-gradient($button-c, darken($button-c, 15%), vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, $button-c 0%,darken($button-c, 15%) 100%));
  border: 1px solid darken($button-c, 15%);
  border-bottom: 1px solid darken($button-c, 25%);
  @include border-radius(3px);
  color: $body-c;
  line-height: 1;
  padding: .5em 2em;
  text-align: center;
  text-shadow: 0 1px 0 $button-c;
  &:hover {
    $button-c: lighten($button-c, 5%);
    background-color: $button-c; // Old browsers
    @include filter-gradient($button-c, darken($button-c, 15%), vertical); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, $button-c 0%,darken($button-c, 15%) 100%));
    cursor: pointer;
    text-shadow: 0 1px 0 $button-c;
  }
  &:active {
    $button-c: darken($button-c, 5%);
    border: 1px solid darken($button-c, 10%);
    border-bottom: 1px solid darken($button-c, 20%);
    -webkit-box-shadow: inset 0 0 5px 2px darken($button-c, 10%), 0 1px 0 0 $button-c;
    -moz-box-shadow: inset 0 0 5px 2px darken($button-c, 10%), 0 1px 0 0 $button-c;
    box-shadow: inset 0 0 5px 2px darken($button-c, 10%), 0 1px 0 0 $button-c;
  }
}
@mixin button-green {
  $button-c: lighten($green, 20%);
  @include button;
}



// Image styles (move to reusable styles)
img {
  &.float-left {
    float: left;
    margin: 0 2em 2em 0;
  }
  &.float-right {
    float: right;
    margin: 0 0 2em 2em;
  }
}
