/**
 * @file
 * Views Styling
 */

@import "custom";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

/*
 * Product listings
 */

.view-taxonomy-term,
.product-list {
  @include clearfix;
  width: 100%;
  .views-row {
    border-bottom: 1px solid $gray;
    float: left;
    margin: 0 3% 2em 0;
    padding: 0 0 1em 0;
    width: 30%;
    .views-field-nothing {
      height: 8.5em;
      position: relative;
    }
    h4.product-title {
      margin: .25em 0;
    }
    .product-price {
      @include border-radius(.5em);
      background-color: lighten($green, 10%);
      bottom: 0;
      font-weight: bold;
      padding: 0.2em 0.75em;
      position: absolute;
    }
  }
}
.products-latest {
  .views-row {
    .views-field-nothing {
      height: 9em;
      font-size: .9em;
    }
  }
}

/*
 * Exposed filters
 */
.view-filters {
  .views-exposed-form {
    margin-bottom: 2em;
    .views-exposed-widget {
      .form-type-bef-link {
        border-right: 1px solid $body-c;
        float: left;
        padding: 0 .5em;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border-right: 0 none;
          padding-right: 0;
        }
      }
    }
    .views-widget-per-page {
      float: right;
    }
  }
}
