//
// Extends
//

// Sidebar block styles
%sidebar-item-title {
  font-family: $font-body;
  font-size: $h5-font-size;
  line-height: 1.5;
  margin: 0;
}
%sidebar-date {
  color: $gray;
  font-size: .85em;
  font-style: italic;
}

// Buttons
%button-defaults {
	@include transition(
		background-color 0.2s ease,
		color 0.2s ease
		);
	display: inline-block;
}
.button-1 {
  @extend %button-defaults;
  @extend %icon-defaults;
  @extend .icon-email;
  color: $green;
  font-size: 1.5em;
  margin: 1em 0;
  padding-left: 2.75em;
  position: relative;
	text-decoration: none;
  &:link,
  &:visited {
  	color: $green;
  }
  &:hover {
  	color: darken($green, 5%);
  	&::before {
  		color: $green;
  	}
  }
  &::before {
		position: absolute;
		font-size: 2em;
		color: darken($green, 5%);
		left: -0.2em;
		margin: 0;
		top: -40%;
  }
}
.button-2 {
  @extend .button-1;
  @extend .icon-newspaper-1;
  @include border-radius(.25em);
  border: 1px solid darken($green, 5%);
  padding: .5em 1em .5em 3.25em;
  &::before {
		left: 0em;
  	top: .05em;
  }
  &:hover {
  	background-color: lighten($green, 45%);
  	&::before {
  		color: darken($green, 8%);
  	}
  }
}
.button-3 {
  @extend .button-2;
  background-color: lighten($green, 42%);
  &:link,
  &:visited {
  	color: darken($green, 8%);
  }
  &:hover {
  	background-color: lighten($green, 43%);
  	color: darken($green, 10%);
  	&::before {
  		color: darken($green, 12%);
  	}
  }
}
.button-4 {
  @extend .button-2;
  @extend .icon-newspaper-2;
  border: 2px solid lighten($green, 35%);
  &::before {
  	top: 0;
  }
}
.button-5 {
  @extend .button-4;
  @extend .icon-doc;
  font-size: 1.25em;
  padding-top: .25em;
  padding-bottom: .25em;
  &::before {
  	font-size: 2.25em;
  	top: -.1em;
  }
}
.button-6 {
	@extend .button-5;
	&::before {
		@include transform(rotate(-8deg));
	}
}
.icon-options {
	.icon {
		color: $green;
		display: inline-block;
		float: left;
		font-size: 3em;
		&:first-child {
			margin-left: 0;
		}
	}
	br {
		display: none;
	}
}