@charset "UTF-8";
/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
@font-face {
  font-family: 'Fontello';
  src: url("../fonts/fontello-sullivan/font/sullivan.eot");
  src: url("../fonts/fontello-sullivan/font/sullivan.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello-sullivan/font/sullivan.woff") format("woff"), url("../fonts/fontello-sullivan/font/sullivan.ttf") format("truetype"), url("../fonts/fontello-sullivan/font/sullivan.svg#sullivan") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"]:before,
[class*=" icon-"]:before {
}*/
/* line 107, ../sass/_custom.scss */
img.float-left {
  float: left;
  margin: 0 2em 2em 0;
}
/* line 111, ../sass/_custom.scss */
img.float-right {
  float: right;
  margin: 0 0 2em 2em;
}

/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 18, ../sass/nodes.scss */
.node .node-title,
.node .field-name-title-field {
  /* Node title */
  text-transform: lowercase;
}
/* line 22, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 25, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 28, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 31, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 36, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 39, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 42, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 45, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 54, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 57, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 60, ../sass/nodes.scss */
.node-product-display {
  /* Product display */
}
/* line 61, ../sass/nodes.scss */
.node-product-display .field-name-commerce-price {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  background-color: #a2be75;
  float: right;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 0 0.75em 0.75em;
  padding: 0.25em 0.75em;
}
/* line 71, ../sass/nodes.scss */
.node-product-display .field-name-body p {
  margin: 0 0 3.14286em 0;
}

/* line 77, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 80, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
