@charset "UTF-8";
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@font-face {
  font-family: 'Fontello';
  src: url("../fonts/fontello-sullivan/font/sullivan.eot");
  src: url("../fonts/fontello-sullivan/font/sullivan.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello-sullivan/font/sullivan.woff") format("woff"), url("../fonts/fontello-sullivan/font/sullivan.ttf") format("truetype"), url("../fonts/fontello-sullivan/font/sullivan.svg#sullivan") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*[class^="icon-"]:before,
[class*=" icon-"]:before {
}*/
/* line 107, ../sass/_custom.scss */
img.float-left {
  float: left;
  margin: 0 2em 2em 0;
}
/* line 111, ../sass/_custom.scss */
img.float-right {
  float: right;
  margin: 0 0 2em 2em;
}

/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  /*background-color: $body-bgc;*/
  /*@include filter-gradient(darken($body-bgc, 10%), $body-bgc, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, darken($body-bgc, 10%) 0%,$body-bgc 300px));*/
  /*background-attachment: fixed;*/
  color: #333333;
  margin: 0;
  padding: 0;
}

/* line 29, ../sass/pages.scss */
#page {
  /*@include single-box-shadow(darken($body-bgc, 20%), 0, 0, 15px, 0, false);
  background: $page-bgc url("../images/coins1-600.png") no-repeat scroll 170% 1em;
  margin: 0 auto;*/
  background: transparent url(../images/page-bg-1.png) no-repeat -100px -300px;
  padding-top: 4.5em;
  max-width: 100%;
  /*width: $page-width;*/
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 44, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 48, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 62, ../sass/pages.scss */
#header {
  position: relative;
}

/* line 66, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 71, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 76, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  /*float: left;*/
}

/* line 80, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0 auto .3em auto;
  font-size: 5em;
  font-weight: normal;
  line-height: .85;
  max-width: 100%;
  text-align: center;
  text-transform: none;
  width: 9em;
}
/* line 91, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  text-shadow: white 0 0 0.2em;
  color: #2e5f80;
  text-decoration: none;
}
/* line 98, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

/* line 103, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 108, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
}

/*
 * User region
 */
/* line 115, ../sass/pages.scss */
.region-user {
  background-color: #2e5f80;
  border-bottom: 1px solid #21435a;
  color: white;
  font-size: .85em;
  height: 2.75em;
  margin: 0 -10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}
/* line 126, ../sass/pages.scss */
.region-user .block {
  float: left;
}
/* line 129, ../sass/pages.scss */
.region-user a {
  color: white;
}

/*
 * Main (container for everything else)
 */
/* line 138, ../sass/pages.scss */
#main {
  padding: 6em 4% 0 4%;
}

/*
 * Content
 */
/* line 152, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 153, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 157, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 170, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0 0 .25em 0;
  text-transform: lowercase;
}

/* line 175, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 179, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 183, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 186, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 192, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 196, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 201, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 204, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 208, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 212, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 215, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 218, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 221, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 224, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 228, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 234, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 238, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 241, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 246, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 249, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
  font-size: .8em;
  margin-top: 2em;
  text-transform: uppercase;
}
/* line 358, ../sass/fontello.scss */
.more-link:before {
  content: '\25b8';
  /* '▸' */
}
/* line 254, ../sass/pages.scss */
.more-link:before {
  font-family: "Fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /*opacity: 0.8;*/
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  color: #2e5f80;
  float: right;
  font-size: 2em;
  margin-right: 0;
  margin-left: 0;
}

/*
 * Sidebars
 */
/* line 267, ../sass/pages.scss */
.sidebars {
  margin-top: .9em;
}
/* line 269, ../sass/pages.scss */
.sidebars .block-title {
  font-size: 1.75em;
  line-height: 1.25em;
  /*padding-top: .1em;*/
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 307, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
