@charset "UTF-8";
/**
 * @file
 * Views Styling
 */
/*@font-face {
  font-family: 'sullivan';
  src: url("../font/sullivan.eot");
  src: url("../font/sullivan.eot?#iefix") format('embedded-opentype'), url("../font/sullivan.woff") format('woff'), url("../font/sullivan.ttf") format('truetype'), url("../font/sullivan.svg#sullivan") format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/* line 11, ../sass/fontello.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 107, ../sass/_custom.scss */
img.float-left {
  float: left;
  margin: 0 2em 2em 0;
}
/* line 111, ../sass/_custom.scss */
img.float-right {
  float: right;
  margin: 0 0 2em 2em;
}

/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/*
 * Product listings
 */
/* line 52, ../sass/views-styles.scss */
.view-taxonomy-term,
.product-list {
  overflow: hidden;
  width: 100%;
}
/* line 55, ../sass/views-styles.scss */
.view-taxonomy-term .views-row,
.product-list .views-row {
  border-bottom: 1px solid gray;
  float: left;
  height: 23em;
  margin: 0 3% 2em 0;
  padding: 0 0 1em 0;
  position: relative;
  width: 30%;
}
/* line 63, ../sass/views-styles.scss */
.view-taxonomy-term .views-row .views-field-nothing,
.product-list .views-row .views-field-nothing {
  bottom: 1em;
  height: 8.5em;
  position: absolute;
}
/* line 68, ../sass/views-styles.scss */
.view-taxonomy-term .views-row h4.product-title,
.product-list .views-row h4.product-title {
  margin: .25em 0;
}
/* line 71, ../sass/views-styles.scss */
.view-taxonomy-term .views-row .product-price,
.product-list .views-row .product-price {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  background-color: #a2be75;
  bottom: 0;
  font-weight: bold;
  padding: 0.2em 0.75em;
  position: absolute;
}

/* line 83, ../sass/views-styles.scss */
.products-latest .views-row .views-field-nothing {
  height: 9em;
  font-size: .9em;
}

/*
 * Exposed filters
 */
/* line 94, ../sass/views-styles.scss */
.view-filters .views-exposed-form {
  margin-bottom: 2em;
}
/* line 97, ../sass/views-styles.scss */
.view-filters .views-exposed-form .views-exposed-widget .form-type-bef-link {
  border-right: 1px solid #333333;
  float: left;
  padding: 0 .5em;
}
/* line 101, ../sass/views-styles.scss */
.view-filters .views-exposed-form .views-exposed-widget .form-type-bef-link:first-child {
  padding-left: 0;
}
/* line 104, ../sass/views-styles.scss */
.view-filters .views-exposed-form .views-exposed-widget .form-type-bef-link:last-child {
  border-right: 0 none;
  padding-right: 0;
}
/* line 110, ../sass/views-styles.scss */
.view-filters .views-exposed-form .views-widget-per-page {
  float: right;
}
